# Dependencies
node_modules
.pnpm-store

# Dist
dist
build
.expo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment vars
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
*.swp
*.swo
